/************************************************************************
** BUTTON
*************************************************************************/
#main {
    border: 1px solid #CCCCCC;
    padding: 10px;
}

.checkbox {
  color: #C6C6C8;
}

.button {
  border: 1px solid #191C21;
  background-color: #4B4E53;
  background-color-end: #37383C;
  color: #C6C6C8;
  padding
}

.button:hover {
  border: 1px solid #191C21;
  background-color: #53565B;
  background-color-end: #3C3D41;
  color: #C1C2C6;
}

.button:down {
  border: 1px solid #1C1D1F;
  background-color: #2C2D2F;
  background-color-end: #43484C;
  color: #A2A3A5;
}

/************************************************************************
** HSLIDER / VSLIDER
*************************************************************************/
.hslider .slider-value-background, .vslider .slider-value-background {
  border: 1px solid #101010;
  background-color: #353535;
  background-color-end: #434343;
  filter: drop-shadow(1, 45, #000000, 0.5, 2, 2, 1, 3, true);
  padding: 1px;
}

.hslider .slider-value-background {
  height: 6px;
}

.vslider .slider-value-background {
  width: 6px;
}

.hslider .slider-button, .vslider .slider-button {
  border: 1px solid #101010;
  background-color: #E6E6E6;
  background-color-end: #A0A0A0;
}

.hslider .slider-value, .vslider .slider-value {
  background-color: #FD4653;
  background-color-end: #AC282F;
}
